{{template "header" .}}
<div class="px-6">
    <h1 class="py-4 text-4xl semi-bold tracking-tight">Contact Page</h1>
    <p class="text-gray-800">
        To get in touch, email me at <a href="mailto:richardliux23@gmail.com">richardliux23@gmail.com</a>
    </p>
</div>


{{template "footer" .}}